<h1>Playing the longest word game</h1>

<h3>The grid was:</h3>
<%= session[:grid] %>

<h3>Your answer:</h3>
<%= @answer %>

<h3>Your translation:</h3>
<%= @translation%>

<h3>Your time:</h3>
<%= @time %>

<h2>Your score:</h2>
<%= @score %>
